<h1>
  Yo! <code>\o/</code> 1337 Email Raps
</h1>

<form action="/send_email" method="post">
  <div>
    <input type='email' placehodler="Send to yo friend" name="to">
  </div>
  <div>
    <input type="text" name="subject" placeholder="Yo subject">
  </div>
  <div>
    <%= text_area_tag(:body, "", :placeholder => "Enter yo message") %>
  </div>
  <%= submit_tag "Send yo email, dawggg!!!" %>
</form>