  <form action="/search" method="get">  
  <input type="text" name="q" autofocus="" placeholder="Artist"> 
  <br>
  <button class="btn btn-primary btn-large">Search</button>
</form>

<div class="facebook">
<h2>"Liked" Music on FaceBook</h2>
  <% @music.each_with_index do |artist| %>
    <p><a href="/search?q=<%= artist['name']%>" target="_blank"><%= artist['name']%></a></p>
  <% end %>
</div>