<div class="facebook">
<h2>"Liked" Music on FaceBook</h2>
  <% @music.each_with_index do |artist| %>
    <p><a href="/search?q=<%= artist['name']%>" target="_blank"><%= artist['name']%></a></p>
  <% end %>
</div>