  <form action="/search" method="get">  
  <input type="text" name="q" autofocus="" placeholder="Artist"> 
  <br>
  <button class="btn btn-primary btn-large">Search</button>
</form>


<% if !!@current_user %>
  <%= form_tag("/facebook", :method => "get") do %>
  <h2> Welcome back, <%= @current_user.name %>!!! </h2>
    <%= submit_tag("My FaceBook Likes", :class => 'btn btn-primary btn-large')%>
  <% end %>
<% end %>