<%= render 'searchform' %>


<% if !!@current_user %>
  <%= form_tag("/facebook", :method => "get") do %>
  <h2> Welcome back, <%= @current_user.name %>!!! </h2>
    <%= submit_tag("My FaceBook Likes", :class => 'btn btn-primary btn-large')%>
  <% end %>
<% end %>