<h4>Sorry! I didn't find any artists matching "<span><%= @query %></span>"! </h4>
<h4>Try another artist!</h4>

<br/>
<form action="/search" method="get">  
  

  <input type="text" name="q" autofocus="" placeholder="Artist">
  
  <br>
  <button class="btn btn-primary btn-large">Search</button>
</form>